@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'add.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-third: #2cffbf;
  --color-four: #5e716a;
  --color-five: #1d3838;
  --color-six: #E0F2E9;
  --color-seven: #5e716a10;
  --font-families-secondary: 'Caveat', cursive;

  /* --color-primary: #FFFFFF;
  --color-secondary: #cdf4e6;
  --color-third: #0a0a0a;
  --color-four: #79a091;
  --color-primary-text: #0a0a0a;
  --color-secondary-text: #4d5150;
  --color-third-text: #020101;
  --color-four-text: #79a091;
  --color-primary-border: #e7f5f3;
  --color-secondary-border: #abd4c5;
  --color-third-border: #79a091;
  --color-four-border: #cdf4e6; */

}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #000000;
    --color-secondary: #e6e6e6;
    --color-third: #2cffbf;
    --color-four: #5e716a;
    --color-five: #E0F2E9;
     --color-six: #E0F2E9;
    --color-seven: #5e716a18;
    /* --color-primary-bg: #100c13;
    --color-secondary-bg: #7e6194;
    --color-third-bg: #d6b4ee;

    --color-primary-text: #2B2031;
    --color-secondary-text: #472360;
    --color-third-text: #A4ADD3;

    --color-primary-border: #705D97;
    --color-secondary-border: #47236067; 
    --color-third-border: #47236067; 
  */


  }
}



section.bgrid{
  background-color: var(--color-primary);
  
  background-image:  
    linear-gradient(#3a4f413b 0.8px, transparent 0.8px), 
    linear-gradient(90deg, #3a4f413b 0.8px, transparent 0.8px), 
    linear-gradient(#3a4f413b 1px, transparent 1px), 
    linear-gradient(90deg, #3a4f413b 0.4px, var(--color-primary) 0.4px);
  background-size: 40px 40px, 20px 20px, 10px 10px, 4px 4px;
  background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
}
 section .bgrid2{
  background-color: transparent;
  
  background-image:  linear-gradient(#3a4f411a 0.8px, transparent 0.8px), linear-gradient(90deg, #3a4f411a 0.8px, transparent 0.8px), linear-gradient(#3a4f411a 0.4px, transparent 0.4px), linear-gradient(90deg, #3a4f411a 0.4px, transparent 0.4px);
  background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
  background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
} 
div.bgrid2{
  background-color: transparent;
  
  background-image:  linear-gradient(#3a4f411a 0.8px, transparent 0.8px), linear-gradient(90deg, #3a4f411a 0.8px, transparent 0.8px), linear-gradient(#3a4f411a 0.4px, transparent 0.4px), linear-gradient(90deg, #3a4f411a 0.4px, transparent 0.4px);
  background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
  background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
} 

section.one {

  background-image: linear-gradient(-45deg, transparent 75%, hsla(145, 95%, 24%, 0.082) 75%),
    linear-gradient(45deg, transparent 75%, hsla(145, 95%, 24%, 0.082) 75%),
    linear-gradient(-135deg, transparent 75%, hsla(145, 95%, 24%, 0.082) 75%),
    linear-gradient(135deg, transparent 75%, hsla(145, 95%, 24%, 0.082) 75%);
  background-size: 4rem 4rem;
  background-position: 19rem 0, 19rem 0, 0 0, 0 0;
}

section.two {
  background-color: hsl(177, 27%, 69%);
  background-image: linear-gradient(-45deg, transparent 50%, hsl(49, 71%, 63%) 50%),
    linear-gradient(-45deg, transparent 50%, hsl(49, 71%, 63%) 50%),
    linear-gradient(-45deg, transparent 50%, hsl(49, 71%, 63%) 50%),
    linear-gradient(-45deg, transparent 50%, hsl(49, 71%, 63%) 50%);
  background-size: 2rem 2rem, 2rem 2rem;
}

section.three {
  background-image: radial-gradient(circle at 100% 50%,
      transparent 1rem,
      #a1b1c12c 1rem,
      #a1b1c12c 1.5rem,
      transparent 1.5rem),
    radial-gradient(circle at 0% 50%,
      transparent 1rem,
      #a1b1c12c 1rem,
      #a1b1c12c 1.5rem,
      transparent 1.5rem);

  background-size: 20rem 5rem;
  background-position: 0 0, 0 2.5rem;
}
div.three {
  background-image: radial-gradient(circle at 100% 50%,
      transparent 1rem,
      #a1b1c12c 1rem,
      #a1b1c12c 1.5rem,
      transparent 1.5rem),
    radial-gradient(circle at 0% 50%,
      transparent 1rem,
      #a1b1c12c 1rem,
      #a1b1c12c 1.5rem,
      transparent 1.5rem);

  background-size: 20rem 5rem;
  background-position: 0 0, 0 2.5rem;
}

section.four {
  background-image: url(), url(),
    linear-gradient(to right, rgb(0, 0, 0), rgb(255 255 255 / 0%));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    bottom right,
    left,
    right;

}

.textCllip {
  background-image: linear-gradient(black, var(--color-third) 82%);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

/* Additional custom styles */
.flipper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 40px;
}

.step {
  font-weight: 600;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: 0% 0%;
}

.step.down {
  transform: rotateX(-190deg);

  opacity: 0;
}

.step.set {
  transform: rotateX(10deg);
  opacity: 1;
}
main{
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}